*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;}

body{width: 100%;}

header, main, footer {
    width: 80%;
    margin: 0 auto;
}
.header{
    /* background-color: #e579e6; */
    height: 150px;
    margin-top: 2%;
    
}
div h1 { font-family: Arial;}
h2{ 
    font-size: 1em;
    margin: 10px 0;
}
/* Header */
#logo{
    max-width: 20%;
}
nav a{
    color: lightgray;
    text-decoration: none;
    margin-right: 2%;
    font-size: 1em;    
}

.menu{line-height: 4em;}

/* Main Section*/
.section{
    /* background-color: #e1d67a; */
    height: 350px;
    margin: 0 auto ;
    background-image: url(img/banner.jpg);
    background-size: cover;
    background-position: center ;
    border-radius: 10px;
    
 }
 .overlay{
    background-color: rgba( 0, 0, 0, 0.2);
    height: 100%;
    border-radius: 10px;
}
.banner-text{
    padding: 220px 0 0 30px
   
}
p#banner-main-text{
    color:white;
    font-size: 1.5em;
    width: 50%;
 
}

p#banner-secondary-text{
    color:white;
    font-size: 0.7em;
    width: 50%;
}

/* Subsection */
.subsection, .clearfix{    
    margin-top: 4%;
}
.subsection-header{
    background-color: white;
    /* height: 70px; */
}

.subtitle{
    font-size: 0.9em;
    color: lightgray;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* Colonne */
.col-sx, .col-dx {
    float: left;
    width: 20%;
    height: 400px;
    margin: 2% 0;
}
.col-center{
    float: left;
    width: calc(60% - 4%);
    height:400px ;
    margin: 2%;
}
.image-container-sx{
    height: 150px;
    background: rgba( 0, 0, 0, 0.2);
    background-image: url(img/img-1.jpg);
    background-size: cover; 
    background-position: center;

}
.image-container-dx{
    background-image: url(img/img-3.jpg);
    border-radius: 10px;
    background-size: cover; 
    height: 150px;
    background-position: center;
}
.image-container-center{
    background-image: url(img/banner-2.jpg);
    border-radius: 10px;
    background-size: cover; 
    height: 150px;
    background-position: center;
}
.col-text{
    font-size: 0.7em;
    color: gray;
}
/* .col-sx{
    background-color: rgba( 0, 0, 0, 0.2);
    border-radius: 10px;} */
/* Footer */
.footer{
    height: 40px;
    background-color: #8801fe;
    margin: 1% 0;
}